#===============================================================================
# Copyright Contributors to the oneDAL Project
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#===============================================================================

name: docker-validation Nightly

on:
  schedule:
    - cron: "0 23 * * *"
  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/docker-validation-nightly.yml
      - dev/docker/onedal-dev.Dockerfile
      - '.ci/env/**'
      - '.ci/scripts/**'
  push:
    branches:
      - main
    paths:
      - .github/workflows/docker-validation-nightly.yml
      - dev/docker/onedal-dev.Dockerfile
      - '.ci/env/**'
      - '.ci/scripts/**'

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.ref_name }}-${{ github.event.number || github.sha }}
  cancel-in-progress: true

jobs:
  validate:
    name: Docker validation
    if: github.repository == 'uxlfoundation/oneDAL'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Free disk space on runner
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /opt/ghc
          sudo rm -rf /opt/hostedtoolcache

      - name: Docker cleanup before build
        run: |
          docker system prune -af
          docker builder prune -af

      - name: Build docker image
        run: docker build . --file dev/docker/onedal-dev.Dockerfile --tag onedal-dev:latest

      - name: Building oneDAL (make)
        run: |
          docker run onedal-dev .ci/scripts/build.sh --compiler gnu --optimizations avx2 --target daal --conda-env ci-env

      - name: Building oneDAL with bazel
        run: |
          mkdir -p ${{ github.workspace }}/bazel-cache

          docker run \
            -v ${{ github.workspace }}/bazel-cache:/root/.cache/bazel \
            onedal-dev sh -c "
              # Use external disk cache
              echo 'build --disk_cache=/root/.cache/bazel' > ~/.bazelrc
              # In CI we build for avx2 only (override default "all" ISA release build).
              # For a full release with all ISA variants, omit --cpu or use --cpu=all.
              bazel build :release --cpu=avx2
            "
