name: docker-validation Nightly

on:
  schedule:
    - cron: "0 23 * * *"
  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/docker-validation-nightly.yml
      - dev/docker/onedal-dev.Dockerfile
      - '.ci/env/**'
      - '.ci/scripts/**'
  push:
    branches:
      - main
    paths:
      - .github/workflows/docker-validation-nightly.yml
      - dev/docker/onedal-dev.Dockerfile
      - '.ci/env/**'
      - '.ci/scripts/**'

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.ref_name }}-${{ github.event.number || github.sha }}
  cancel-in-progress: true

jobs:
  validate:
    name: Docker validation
    if: github.repository == 'uxlfoundation/oneDAL'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Build docker image
        run: docker build . --file dev/docker/onedal-dev.Dockerfile --tag onedal-dev:latest
      #- name: Building oneDAL
      #  run: docker run onedal-dev .ci/scripts/build.sh --compiler gnu --optimizations avx2 --target daal --conda-env ci-env
      - name: Building oneDAL with bazel
        run: |
          docker run --rm \
          -v ${{ github.workspace }}:/sources/oneDAL \
          -w /sources/oneDAL \
          onedal-dev \
          bazel build :release --explain=explain.txt
      - name: read out
        if: always()
        run: more ./explain.txt
